<module>
  <rawname>dpviz</rawname>
  <repo>unsupported</repo>
  <name>Dial Plan Vizualizer</name>
  <version>1.0.18</version>
  <publisher>AdamV</publisher>
  <license>GPLv3+</license>
  <licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
  <category>Reports</category>
  <description>Graphical display of the dial plan for Inbound Routes</description>
  <menuitems>
    <dpviz>Dial Plan Vizualizer</dpviz>
  </menuitems>
	<database>
		<table name="dpviz">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="datetime" type="boolean" default="1"/>
			<field name="horizontal" type="boolean" default="0"/>
			<field name="panzoom" type="boolean" default="1"/>
			<field name="destination" type="boolean" default="1"/>
			<field name="dynmembers" type="boolean" default="1"/>
			<field name="combineQueueRing" type="boolean" default="0"/>
			<field name="extOptional" type="boolean" default="0"/>
		</table>
  </database>
	<changelog>
		*1.0.18* AJAX update (page does not reload) for dial plan + settings. Tabbed view.
		*1.0.17* Added calendar matching for time conditions. Added Queue Priorities.
		*1.0.16* Updated for issues raised. Added Start from a node, Check for Updates button, support for ext-tts.
		*1.0.15* Moved module to dpviz
		*1.0.14* Updated for ANY route. Updated for E.164 format. Added Highlighting. 
		*1.0.13* Formatted module. Added Dynamic Routes. Big overhaul of code. 
		*1.0.12* Added panzoom
		*1.0.11* Updated name and email for Voicemail
		*1.0.10* AdamV forked from abqcheeks/cpviz
		*1.0.8* First fully working release
		*1.0.0* First release, testing module creation 
	</changelog>
  <info>https://github.com/madgen78/dpviz</info>
  <md5sum>c62830a311338fa38b1aa0e9f9284fc3</md5sum>
  <supported>
    <version>17.0</version>
  </supported>
</module>
